body {
    background: #18166dc0;
}

h1 {
    text-align: center;
    color: white;
}


.middle-box {
    width: 650px;
    margin: 80px auto;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 25px 40px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    height: 12rem;
}


.form-row {
    display: grid;
    grid-template-columns: 170px 1fr;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.textfield {
    padding: 0.4rem;
    border: 1px solid rgb(180, 174, 174);
    border-radius: 10px;
}

div.btn-row {
    margin-bottom: 1rem;
    
}

.checkbox {
    cursor: pointer;
    width: 0.8rem;
}

.box {
    border: 2px solid rgb(180, 174, 174);
    padding: 1rem;
    border-radius: 10px;
}